# ====================== 通用系统忽略 ======================
# Windows
Thumbs.db
Desktop.ini
# macOS
.DS_Store
.AppleDouble
# Linux
*~

# ===================== 日志、临时文件 =====================
*.log
*.tmp
*.temp
*.bak

# ====================== Dev-C++ / MinGW 工程文件和临时文件 ======================
*.dev
makefile.win
*.bak
*.layout
*.depend

# ====================== ASM / C / C++ 汇编、C、C++ ======================
# 编译产物
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.a
*.lib
*.elf
*.hex
*.bin
*.dylib
# 编译中间文件
*.i
*.s
# 调试文件
*.pdb
*.map
